.banner{
    width: 100%;
     height: calc(100vh - 70px);    
    /*  min-height: 100vh; 
     padding: 20px;
 */

    background: url('/assets/images/HomeBanner.avif') center center/cover no-repeat;

    display: flex;
    justify-content: center;   
    align-items: center;   

    text-align: center;
}

.content{
    color: #312f2f;
    
    
    padding: 30px 50px;
    border-radius: 10px;
}

.content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p{
    font-size: 1.3rem;
    margin: 0;
}